<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="/css/style.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="/images/favicoon.png">
	<title>Democracia2 - Escolher Delegado</title>
</head>
<body>
	<div class="images-container">
		<div class="logo-container">
			<img alt="logo_site" src="/images/logo.png" class="logo">
		</div>
		<div class="profile-container">
			<div class="user">
				<span class="username" th:text="${cidadao.name}"></span>
			</div>
			<a class="sign-out" th:href="'/'">Sign out</a>
		</div>
	</div>
	<div class="content-container">
		<h1>Escolher Delegado</h1>

		<form class="form-escDel" method="POST" th:action="@{'/' + ${cidadao.numCC} + '/escDel'}">
			<div class="tema-container">
				<label for="tema">Tema:</label> <select id="tema" name="tema"
					required>
					<option th:each="tema : ${temas}" th:value="${tema.id}"
						th:text="${tema.tipo}"></option>
				</select>
			</div>

			<div class="delegado-container">
				<label for="delegado">Delegado:</label>
				<select id="delegado" name="delegado" required>
					<option th:each="delegado : ${delegados}" th:value="${delegado.id}"
						th:text="${delegado.name}"></option>
				</select>
			</div>

			<div class="submit-button-escDel">
				<input type="submit" value="Submit">
			</div>
		</form>
		
	</div>	
	
	<div class="button-container">
		<a th:href="'/' + ${cidadao.numCC} + '/dashboard'"><button>Voltar</button></a>
	</div>
</body>
</html>